{% extends 'base.html' %}
{% load static %}



{% block title %} Training {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'training/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="card-wrapper">
    <div class="card-number card-ready">
        <h1>№1</h1>
    </div>
    <div class="card-number card-not-ready">
        <h1>№2</h1>
    </div>
    <div class="card-number card-not-ready">
        <h1>№3</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№4</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№5</h1>
    </div>
    <!-- <div class="card-number card-lesson">
        <h1>№6</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№7</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№8</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№9</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№10</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№11</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№12</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№13</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№14</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№15</h1>
    </div>
    <div class="card-number card-lesson">
        <h1>№16</h1>
    </div> -->
</div>
{% endblock %}