.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(9, 110px);
    justify-content: center;
}

.card-number{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
}

.card-ready{
    background-color: green;
    cursor: pointer;
}

.card-not-ready{
    background-color: red;
    cursor: not-allowed;
}

main{
    background-color: #181818;
}